@import "tailwindcss";

@theme {
    --font-sans: "SF Pro Display", "SF Pro Text", Helvetica, sans-serif;
    --font-mono: "JetBrainsMono Nerd Font Mono", Helvetica, monospace;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
